@media screen and (min-width:620px) {

    .hideDesktop {

        display: none;

    }






}






@media screen and (max-width:650px) {

    main {

        display: flex;
        flex-direction: column;

        height: 100vh;
       /* overflow-x: scroll;*/

    }

    .calenderGrid {
        display: none;
    }

    .date {

        height: 7rem;
    }

    #date {
        justify-content: left;
    }

    .dayOfTheWeek {

        display: none;
    }

    #day {
        margin: 0;
    }

    #getDate {
        margin: 0;
    }

    .toDo-list>ul>li {
        font-size: 2rem;
    }

    



}


/* SMALL DEVICES */


@media screen and (max-width:320px) {

    .calenderGrid {
        display: none;
    }

    .dayOfTheWeek {
        display: none;
    }

    /*main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas:
            "month"
            "date"
            "todo"
            "todo"
            "todo"
            "todo"
            "todo"
            "todo";
    }*/

    .calender {
        display: hidden;
    }

    .date {
        height: 5rem;
        border:none;
    }

    .month {
        grid-area: month;
        font-size: 2rem;
    }

    .date {
        grid-area: date;
        font-size: 1.5rem;
        border-bottom: 1px solid black;
        margin: 0;
    }

    .toDo-container {
        grid-area: todo;
        margin: 0;
        text-align: center;
    }

    #time {
        font-size: 1rem;
    }

    .toDo-list {
        margin: 0;
    }

}