* { 
margin: 0;
padding: 0;
font-family: 'Alatsi', sans-serif;
}


main {
height: 100vh;
background-image: linear-gradient(to right bottom, #7ba6ca, #4f82b8, #285ea4, #09398c, #05116f);
display: grid;
grid-template-columns: repeat(9, 1fr);
grid-template-rows: repeat(6, 1fr);
grid-template-areas: 
"date date month month month month month month month"
"toDo toDo calendar calendar calendar calendar calendar calendar calendar"
"toDo toDo calendar calendar calendar calendar calendar calendar calendar"
"toDo toDo calendar calendar calendar calendar calendar calendar calendar"
"toDo toDo calendar calendar calendar calendar calendar calendar calendar"
"toDo toDo calendar calendar calendar calendar calendar calendar calendar"
;
}

.month {
grid-area: month;
justify-content: left;
display: flex;
font-size: 2rem;
margin-top: 2rem;
margin-left: 1rem;
}


.date {
border: 1px solid black;
border-bottom: none;
grid-area: date;
justify-content: center;
flex-direction: column;
align-items: center;
display: flex;
font-size: 2rem;
}

.date p{
margin-right: 1rem;
}

.toDo {
grid-area: toDo;
border-bottom: 1px solid black;
border-right: 1px solid black;
border-top: 1px solid black;

}

.toDo-container {
    grid-area: toDo;
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    overflow-y: scroll;
}
 
.toDo-list {
   margin: 10px;
}
 
.toDo-list>ul>li {
    border: 1px solid black;
    list-style-type: none;
    margin: 5px;
    padding: 0px 8px 0px 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;


}

.toDo-list>ul>li>p {
    order: 2;
}

#done{
order: 1;
}

#remove {
order: 3;
}

.toDo-add {
    margin: 10px;
    display: flex;
    justify-content: center;
}

#text-input {
    width: 60%;
    height: 1.3rem;
    font-size: 1rem;
    margin: 10px;
 
    text-align: center;
}


#date-input {
    width: 40%;
    height: 1.3rem;
    font-size: 1rem;
    margin: 10px;
}
 
.toDo-add>button {
    color: black;
    text-align: center;
    background: none;
    font-size: 2rem;

border: none;

}



.calendar {
grid-area: calendar;
padding-right: 40px;

}

.calenderGrid {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
grid-template-rows: repeat(5, 14vh);

grid-gap: 5px;
}

.dayOfTheWeek{
display:flex;
justify-content: space-around;
}

.calenderBox{
display:flex;
justify-content: center;
align-items:center;
font-size: 2rem;
border: 2px solid black;

box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
padding: 10px;
font-weight: 100;

transition: all 0.4s ease-in-out;

}

.calenderBox:hover {

    box-shadow: 2px 2px 6px rgba(0, 0, 0, .9);
    padding: 10px;
    font-size: 2.1rem;
    position: relative;
    font-weight: 900;
    transition: all 0.3s ease-in-out;
    


}


.todoNumber {
    position: absolute;
    font-size: 1.2rem;
    padding: 3px;
    margin-left: 3%;
    margin-top: 1%;
    border-radius: 20px;
    color: white;


}

#time{
font-size: 1.5rem;

}


