* { 
margin: 0;
padding: 0;
font-family: 'Alatsi', sans-serif;
}

main {
background-image: linear-gradient(to right bottom, #7ba6ca, #4f82b8, #285ea4, #09398c, #05116f);
display: grid;
grid-template-columns: repeat(9, 1fr);
grid-template-rows: repeat(6, 1fr);
grid-template-areas: 
"date date month month month month month month month"
"toDo toDo calendar calendar calendar calendar calendar calendar calendar"
"toDo toDo calendar calendar calendar calendar calendar calendar calendar"
"toDo toDo calendar calendar calendar calendar calendar calendar calendar"
"toDo toDo calendar calendar calendar calendar calendar calendar calendar"
"toDo toDo calendar calendar calendar calendar calendar calendar calendar"

;
}

.month {
grid-area: month;
justify-content: left;
display: flex;
font-size: 2.5rem;
margin-top: 2rem;
margin-left: 1rem;
}


.date {
border: 1px solid black;
border-bottom: none;
grid-area: date;
justify-content: center;
align-items: center;
display: flex;
font-size: 2rem;
}

.date p{
margin-right: 1rem;
}



.toDo {
grid-area: toDo;
border-bottom: 1px solid black;
border-right: 1px solid black;
border-top: 1px solid black;

}


.calendar {
grid-area: calendar;
}

.calenderGrid {
height:100vh;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
grid-template-rows: repeat (5, 1fr); 
}

.dayOfTheWeek{
display:flex;
justify-content: space-around;
}

.calenderBox{
display:flex;
justify-content: center;
align-items:center;
font-size: 2rem;
border: 2px solid black;
}

#time{
font-size: 1.5rem;
}


